body {
    color: #3b4043;
    background-color: #f8f8f8;
    font-family: Verdana, Arial, sans-serif;
}

p {
    font-size: 12pt;
    text-align: justify;
}

h1, h2, h6 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1mm;
    text-shadow: #cdd9db 2px 2px;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 12pt;
}

table {
    font-size: 10pt;
    border: thin solid black;
}

blockquote,address {
    font-size: 10pt;
    font-style: italic;
}

address {
    text-align: right;
}

h1,h2,h6,blockquote {
    text-align: left;
}

/*ul {*/
/*list-style-type: circle;*/
/*}*/
nav {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    text-transform: uppercase;
    margin-left: -30px;

}

nav ul {
    list-style-type: none;

}

nav li {
    padding: 5px 10px;
    margin: 10px 0;
    border: thin solid #b1bec6;
}

nav li ul {
    margin-left: -20px;
    margin-top: 10px;
}

nav ul li ul li {
    font-size: 12pt;
    margin: 0;
    padding: 0;
    border: none;

}


header, section, nav, footer {
    display: block;
}
header {
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    float: left;
    width: 240px;
    height: 620px;
    overflow-x: hidden;
    margin-right: 10px;
}
section {
    float: right;
    width: 780px;
    height: 620px;
    overflow: auto;
    padding: 5px;
}
footer {
    clear: both;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}